@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Outfit";
    transition: 0.2s linear;
}
:root {
    --pastel-color: #6891ea;
    --pastel-color2: #7568ea;
    --pastel-color3: #5168ee;
}

body {
    background: url('./images/AnimatedShape.svg');
    background-position: center center;
    background-size: stretch;
    overflow: hidden;
}

@keyframes popup {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50%{
        opacity: 0.5;
        transform: scale(0.7);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes popBounceOut {
	0%,
	60%,
	75%,
	90%,
	100% {
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
	}
	0% {
		opacity: 0;
		transform: translateY(-3000px)
	}
	60% {
		opacity: 1;
		transform: translateY(25px)
	}
	75% {
		transform: translateY(-10px)
	}
	90% {
		transform: translateY(5px)
	}
	100% {
		-webkit-transform: none;
		transform: none
	}
}

.content{
    background-color: var(--pastel-color3);
    box-shadow: 0px 0px 50px rgba(0,0,0,0.7);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 70px auto 20px auto;
    width: 70vw;
    height: 75vh;
    border-radius: 10px;
    flex-direction: column;
}

.content.popup{
    animation: popBounceOut 0.8s linear forwards; /* Aplica a animação */
    animation-delay: 0s;
}

#ans{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 200px;
    list-style: none;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

.quest{
    width: 90%;
    height: 15%;
    margin: 0 auto;
    text-align: left;
    animation: popBounceOut 0.6s linear forwards;
}

.pergunta{
    width: 25rem;
}
.nome{
    width: 20rem;
    height: 2.9rem;
    border-radius: 10px;
    border: none;
    outline: 0;
    text-indent: 10px;
    font-size: 1.1rem;
    color: var(--pastel-color3);
}
.title-name{
    font-weight: 500;
    color: #eee;
}
.quest.float{
    animation: float 2s linear infinite;
}

.display-start{
    width: auto;
}

#header-title{
    font-size: 1.8rem;
    color: #eee;
}
.svg-container img{
    width: 45%;
}

.svg-container{
    width: 90%;
    display: none;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 10px 0px;
}
.svg-container.show{
    animation: appear 0.6s linear;
    display: flex;
}

.header-title-open{
    animation: fall_bounce 0.6s linear;
    width: 90%;
}


@keyframes fall_bounce{
    0%{
        opacity: 0;
        transform: translateY(-25px);
    }
    25%{
        opacity: 0.25;
        transform: translateY(-20px);
    }
    50%{
        opacity: 0.50;
        transform: translateY(20px);
    }
    75%{
        opacity: 0.75;
        transform: translateY(-15px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

footer{
    text-align: center;
    color: #fff;
}
@keyframes left_appear {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.btn-r:hover, .start:hover, .clear:hover{
    transition: 0.2s linear;
    background-color: #eeeeee99;
}


.btn-r {
    opacity: 0; /* Começa com opacity 0 por padrão */
    border: none;
    width: 100%;
    margin-top: 10px;
    height: 100%;
    color: var(--pastel-color3);
    font-weight: 500;
    background-color: #eee;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-indent: 10px;
    cursor: pointer;
    border-radius: 5px;
}


#ans .btn-r:nth-child(1) {
    animation: left_appear 0.5s linear 0.6s forwards; /* Delay e animação para o primeiro botão */
}

#ans .btn-r:nth-child(2) {
    animation: left_appear 0.5s linear 0.8s forwards; /* Delay e animação para o segundo botão */
}

#ans .btn-r:nth-child(3) {
    animation: left_appear 0.5s linear 1s forwards; /* Delay e animação para o terceiro botão */
}

#ans .btn-r:nth-child(4) {
    animation: left_appear 0.5s linear 1.2s forwards; /* Delay e animação para o quarto botão */
}


.start{
    width: 50vw;
    max-width: 20rem;
    height: 50px;
    color: var(--pastel-color3);
    background-color: #eee;
    transition: 0.2s ease-in-out;
    border-radius: 15px;
    font-size: 1.1rem;
    cursor: pointer;
    border: none;
}

.start, .heading-text button{
    box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
}

#hp{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


#title{
    width: 90%;
    display: none;
    font-size: 1.3rem;
}

.title{
    font-weight: 300;
}
.pergunta{
    width: 100%;
}

.center{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.ranking{
    width: 100%;
    height: 300px;
    border-radius:5px;
}

.heading-text h2{
    font-weight: 400;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    color: #eee;
}

.heading-text button{
    color: var(--pastel-color3);
    background-color: #eee;
    width: 5rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.heading-text{
    margin: 10px;
}

.line{
    width: 100%;
    background-color: #eee;
    height: 3px;
    border-radius: 15px;
    margin-top: 3px;
}

.ranking-names{
    width: 100%;
    height: 175px;
    margin: 20px 0px 20px 0px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow-y: scroll;
}

.ranking-names::-webkit-scrollbar {
    width: 0.7rem;
}

.ranking-names::-webkit-scrollbar-thumb {
    background-color: #707070;
    border-radius: 0.5rem;
}

.ranking-names::-webkit-scrollbar-track {
    background-color: transparent;
}

.ranking-name{
    width: 98%;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eee;
    text-indent: 10px;
    margin: 3px;
    border-radius: 5px;
    font-size: 1.0rem;
    color: var(--pastel-color3);
}

.central-img{
    width: 20%;
    margin: 20px;
}


.quest, #title, .pergunta{
    color: #eee;
    font-weight: 300 !important;
}
